<%- include('../layouts/user-header') %>

  <main class="main">

    <% if (data.length===0) { %>
      <div class="col-12 text-center">
        <!-- <img src="https://cdni.iconscout.com/illustration/premium/thumb/empty-cart-5521508-4610092.png" alt=""> -->
        <img
          src="https://cdni.iconscout.com/illustration/premium/thumb/confusing-woman-due-to-empty-cart-4558760-3780056.png"
          alt="">

        <h4>Your cart is empty!</h4>
        <br>
        <a href="/getAllproducts" class="btn btn-primary">Shop Now</a>
      </div>

      <!-- code to display if condition is true -->
      <% } else { %>
        <!-- code to display if condition is false -->



        <section class="mt-50 mb-50">
          <div class="container">
            <div class="row">
              <div class="col-12">

                <div class="table-responsive">

                  <table class="table shopping-summery text-center clean">
                    <h4 style="text-align:right"><a href="/getAllOrders"><u>Your Orders</u></a></h4>
                    <thead>
                      <tr class="main-heading">
                        <th scope="col">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col">Remove</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% let total=0 %>
                        <% data.forEach(element=> { %>
                          <% let price=Number(element.products.price) %>
                            <% let subtotal=element.quantity*price %>
                              <% total=total + subtotal %>
                                <tr>
                                  <td class="col-12 col-md-2 image"><img src="/images/<%=element.products.image[0]%>"
                                      alt="#"></td>
                                  <td class="col-12 col-md-3 product-des">
                                    <h5 class="product-name"><a href="/ " class="text-muted">
                                        <%= element.products.title %>
                                      </a></h5>
                                  </td>
                                  <td class="col-6 col-md-2 price" data-title="Price">
                                    <p id="price">₹<%= element.products.price %>
                                    </p>
                                  </td>
                                  <!-- <td class="col-6 col-md-2 text-center">
                                               
                                                  <input class="itemqty form-control" type="number" name="qty" id="quantity" onchange="countupdate('<%=element.pid%>')" value="<%=element.quantity%>" min="1" max="">
                                                 
                                                
                                              </td> -->
                                  <td class="col-6 col-md-2 text-center">
                                    <input class="itemqty form-control" type="number" name="qty" id="quantity_<%=element.pid%>" onchange="countupdate('<%=element.pid%>')" value="<%=element.quantity%>" min="1" max="<%= element.products.quantity %>">
                                  </td>
                                  <td id="subtotal" class="col-6 col-md-2 text-right" data-title="Subtotal">
                                    <input class="text-center form-control" name="subtotal" id="subtotal-input"
                                      value="<%=subtotal %>" readonly>
                                  </td>
                                  
                                  <td class="col-6 col-md-1 action" data-title="Remove">
                                    <a id="remove" onclick="confirmRemove('<%=element.pid%>')" class="text-muted">
                                      <i class="fi-rs-trash"></i>
                                    </a>
                                  </td>
                                </tr>
                                <% }) %>
                                  <tr>
                                    <td colspan="6" class="text-end">
                                      <a href="# " class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart </a>
                                    </td>
                                  </tr>
                    </tbody>
                  </table>

                  <div class="cart-action text-end">
                    <!-- <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a> -->
                    <a class="btn " href="/"><i class="fi-rs-shopping-bag mr-10"></i>Continue
                      Shopping</a>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="border p-md-4 p-30 border-radius cart-totals">
                      <div class="heading_s1 mb-3">
                        <h4>Cart Totals</h4>
                      </div>
                      <div class="table-responsive">
                        <table class="table">
                          <tbody>


                            <tr>
                              <td class="cart_total_label"> </td>
                              <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">₹<%= total %>
                                </span></td>
                            </tr>
                            <tr>
                              <td class="cart_total_label">Shipping</td>
                              <td class="cart_total_amount"> <i class="ti-gift mr-5"></i>
                                Free Shipping</td>
                            </tr>
                            <tr>
                              <td class="cart_total_label">Total</td>
                              <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">
                                    <%=total %>
                                  </span></strong></td>
                            </tr>

                          </tbody>
                        </table>

                      </div>
                      <a href="/checkout/<%= userdata._id %>" class="btn "> <i class="fi-rs-box-alt mr-10"></i>
                        Proceed To CheckOut</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <% } %>


          <link rel="stylesheet" href="https://unpkg.com/sweetalert/dist/sweetalert.css">
          <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


          <script>

            function countupdate(pid) {
              let inputId = "quantity_" + pid;
              let count = document.getElementById(inputId).value;
              

              $.ajax({
                url: '/cartCountUpdate',
                method: 'post',
                data: { quantity: count, pid: pid },
                success: (response) => {
                  // handle the AJAX response here
                  console.log("QUAAA");
                  if (response) {
                   
                    location.href = '/cart';
                  }
                }
              });

              // Don't use location.reload() here as it will reload the entire page
              // Instead, update the cart count dynamically using JavaScript
              let cartCount = document.getElementById('cart-count');
              cartCount.innerHTML = count;
            }


//             function countupdate(pid) {
//   let inputId = "quantity_" + pid;
//   let count = document.getElementById(inputId).value;

//   $.ajax({
//     url: '/cartCountUpdate',
//     method: 'post',
//     data: { quantity: count, pid: pid },
//     success: (response) => {
//       // handle the AJAX response here
//       console.log("QUAAA");
//       if (response) {
//         // Update the cart count dynamically using JavaScript
//         let cartCount = document.getElementById('cart-count');
//         cartCount.innerHTML = response.cartCount;
//       }
//     }
//   });
// }
// function countupdate(pid) {
//   let inputId = "quantity_" + pid;
//   let count = document.getElementById(inputId).value;

//   $.ajax({
//     url: '/cartCountUpdate',
//     method: 'post',
//     data: { quantity: count, pid: pid },
//     success: (response) => {
//       // handle the AJAX response here
//       console.log("QUAAA");
//       if (response) {
//         // Update the cart count dynamically using JavaScript
//         let cartCount = document.getElementById('cart-count');
//         cartCount.innerHTML = response.cartCount;
//         console.log('klklklklklk',response)

//         // // Update the subtotal dynamically
//         // let price = Number(response.productPrice);
//         // let quantity = Number(count);
//         // let newSubtotal = price * quantity;
//         // let subtotalInput = document.getElementById('subtotal-input');
//         // subtotalInput.value = newSubtotal.toFixed(2);
//       }
//     }
//   });
// }




            function confirmRemove(pid) {
              swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this product!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
              })
                .then((willDelete) => {
                  if (willDelete) {
                    console.log('enter 2ndajax')
                    $.ajax({
                      url: '/removeProduct',
                      method: 'post',
                      data: { pid: pid },
                      success: (response) => {
                        if(response)
                        {
                          location.href='/cart'
                        }
                        // Reload the data using AJAX and update the page without reloading
                        //   loadData();


                      }

                    });
                    location.reload()
                  }
                });


            }


//function loadData() {
  // Make an AJAX request to fetch the latest data and update the page
  // without reloading the entire page
//}
          </script>

          <%- include('../layouts/user-footer') %>